body {
    background-color: #151e29;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

h1, h2 {
    text-align: center;
    color: #ffffd2;
}

a:-webkit-any-link, a:visited {
    color: #ffffd2;
    cursor: pointer;
    text-decoration: underline;
}

.content-container {
    /* border: black solid 2px; */

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#main-container {

    /* size and border*/
    width: 1000px;
    height: 550px;
    /* border: 1px #364f6b solid; */
    /* border-radius: 3%; */

    /* align */
    margin-left: auto;
    margin-right: auto;

    /* color */
    background-color: #a8d8ea;
    /* box-shadow: 0px 0px 10px black; */

    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.bar {
    /* size and border*/
    width: 10px;
    height: 0px;
    border: 1px black solid;

    /* color */
    background-color: #e84545;
}

.label-menu {
    /* border: 1px solid black; */
    font-size: 18px;

    /* size */
    width: auto;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    padding: 10px;
    margin-bottom: 30px;
    
    text-align: center;

    background-color: #a8d8ea;
    /* color: #ffffd2; */
}

.label-menu input, .label-menu button {
    padding: 10px;
    width: 20px;
    margin: 5px;
}

.label-menu button {
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

table tr td {
    /* border: black 1px solid; */
    text-align: left;
}